body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}

#scene-container {
  width: 100%;
  height: 100%;
}
